    <footer class="footer pt-6 pb-5 bg-dark text-white text-center">
        <hr class="bg-secondary my-3 my-lg-5">
            <div class="row">
                <div class="col mb-md-0">
                    <a href="https://themesberg.com" target="_blank" class="d-flex justify-content-center mb-3">
                        <img src="{{ ASSETS_ROOT }}/img/themesberg.svg" height="30" class="me-2" alt="Themesberg Logo">
                        <p class="text-white fw-bold footer-logo-text m-0">역사도담 | Trinity</p>
                        <ul class="social-buttons mb-0 mb-lg-0">
                            <li>
                            <a href="https://github.com/themesberg" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-github"></span>
                            </a>
                            </li>
                            <li>
                            <a href="https://github.com/themesberg" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-github"></span>
                            </a>
                            </li>
                            <li>
                            <a href="https://github.com/themesberg" aria-label="github social link" class="icon-white me-2">
                                <span class="fab fa-github"></span>
                            </a>
                            </li>
                        </ul>
                    </a>
                    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
                        <p class="fw-normal font-small mb-0">
                            &copy; Themesberg - coded by AppSeed.
                        </p>
                    </div>
                </div>
            </div>
    </footer>