{% extends "layouts/base-fullscreen.html" %}

{% block title %} 로그인 {% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Section -->
        <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="{{ ASSETS_ROOT }}/img/pages/form-image.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 d-flex align-items-center justify-content-center">
                        <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
                            <div class="text-center text-md-center mb-4 mt-md-0">
                                <h1 class="mb-0 h3">로그인</h1>
                                <span class="font-weight-normal">
                                    {% if msg %}
                                        {{ msg | safe }}
                                    {% endif %}
                                </span>
                            </div>

                            <form method="post" action="" class="mt-4">

                                {% csrf_token %}
                                <div class="form-group">
                                    <div class="form-group mb-4">
                                        <label for="username">아이디/닉네임</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                                            {{ form.username }}
                                        </div>
                                    </div>
                                    <!-- Form -->
                                    <div class="form-group mb-4">
                                        <label for="password">비밀번호</label>
                                        <div class="input-group">
                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                                            {{ form.password }}
                                        </div>
                                    </div>
                                    <!-- End of Form -->
                                    <div class="d-flex justify-content-between align-items-center mb-4">
                                        <div class="form-check mb-0">
                                            <input class="form-check-input" type="checkbox"  id="rememberMe" name="remember_me" checked/>
                                            <label class="form-check-label mb-0" for="rememberMe">
                                                로그인 유지
                                            </label>
                                        </div>
                                        <div><a href="{% url 'password_reset' %}" class="small text-right" type="submit" >비밀번호 찾기</a></div>
                                    </div>
                                </div>
                                <div class="d-grid">
                                    <button type="submit" name="login" class="btn btn-primary">로그인하기</button>
                                </div>
                            </form>
                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    아직 회원이 아니신가요?
                                    <a href="{% url 'register' %}" class="fw-bold text-underline">회원가입하기</a>
                                </span>
                            </div>

                            <div class="d-flex justify-content-center align-items-center mt-4">
                                <span class="fw-normal">
                                    &copy; Themesberg - coded by
                                    <a href="https://appseed.us" target="_blank"
                                       class="fw-bold text-underline">AppSeed</a>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
