{% extends "layouts/base.html" %}

{% block title %} 탐방 경로 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        .card {
            width:100%;
            aspect-ratio:1/2;
        }
        #card-image {
            width:100%;
            aspect-ratio:1/1;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Header -->
        <section class="section section-header pb-7 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">{{ post.writer.username }}님의 탐방 경로</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div id="map" style="width:100%; height:100%;"></div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow">
                            <img class="card-image-top rounded-top" id="card-image" src="{{ ASSETS_ROOT }}/img/transparent.png">
                            <div class="card-body">
                            <h6 class="card-title" id="card-title"></h6>
                                <p class="card-text" id="card-content" style="color:dimgray"></p>
                                <p class="card-text" id="card-comment"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% include 'includes/kakaomap.html' %}
    <script>
    var container = document.getElementById("map");
    var options = {
        center: new kakao.maps.LatLng(36.2683, 127.6358),
        level: 13
    };
    var map = new kakao.maps.Map(container, options);

    var obj_list = {{ obj_list|safe }};
    let linePath = [];
    $.each(obj_list, function(i, data) {
        linePath.push(new kakao.maps.LatLng(data.latitude, data.longitude));
    });

    var polyline = new kakao.maps.Polyline({
        path: linePath,
        strokeWeight: 5,
        strokeColor: "#174F84",
        strokeOpacity: 1,
        strokeStyle: "solid",
        endArrow: true
    });
    polyline.setMap(map);

    if (linePath.length % 2 == 1) {
        index = (linePath.length - 1) / 2;
        var centerPath = linePath[index];
    } else {
        index = linePath.length / 2;
        latitude = (linePath[index].getLat() + linePath[index].getLat()) / 2;
        longitude = (linePath[index].getLng() + linePath[index].getLng()) / 2;
        var centerPath = new kakao.maps.LatLng(latitude, longitude);
    }

    map.setCenter(centerPath);

    </script>
{% endblock javascripts %}
