{% extends "layouts/base.html" %}

{% block title %} 탐방 경로 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        .info-window {
            width: 120px;
            height: 50px;
        }
        .info-image {
            margin: 5px;
            width: 40px;
            height: 40px;
        }
        .info-text {
            margin: auto;
            font-size: x-small;
        }
        .card {
            width: 100%;
            aspect-ratio: 1/2;
        }
        #card-image {
            width: 100%;
            aspect-ratio: 1/1;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Header -->
        <section class="section section-header pb-7 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">{{ post.writer.username }}님의 탐방 경로</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg">
            <div class="container">
                <div class="row">
                    <div class="col-9">
                        <div id="map" style="width:100%; height:100%;"></div>
                    </div>

                    <div class="col-3">
                        <div class="card shadow">
                            <img class="card-image-top rounded-top" id="card-image" src="{{ ASSETS_ROOT }}/img/transparent.png">
                            <div class="card-body">
                            <h6 class="card-title" id="card-title"></h6>
                                <p class="card-text" id="card-content" style="color:dimgray"></p>
                                <p class="card-text" id="card-comment"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    {% include 'includes/kakaomap.html' %}
    <script>
    function compareLatLng(path) {
        var latitude;
        var longitude;
        var pad = 0.01;

        if (path[0].getLat() < path[1].getLat()) {
            latitude = path[1].getLat() - pad;
        } else if (path[0].getLat() > path[1].getLat()) {
            latitude = path[1].getLat() + pad;
        }
        if (path[0].getLng() < path[1].getLng()) {
            longitude = path[1].getLng() - pad;
        } else if (path[0].getLng() > path[1].getLng()) {
            longitude = path[1].getLng() + pad
        }
        path[1] = new kakao.maps.LatLng(latitude, longitude);
        return path
    };

    function loadMap() {
            var container = document.getElementById("map");
            var options = {
                center: new kakao.maps.LatLng(35.834636328158915, 127.7235675736344),
                level: 14
            };
            var map = new kakao.maps.Map(container, options);

            var changeMaptype;
            changeMaptype = kakao.maps.MapTypeId.SKYVIEW;
            map.setMapTypeId(changeMaptype);

            var clusterer = new kakao.maps.MarkerClusterer({
                map: map,
                minLevel:10
            });
            var bounds = new kakao.maps.LatLngBounds();

            var obj_list = {{ obj_list|safe }};

            let linePath = [];
            $.each(obj_list, function(i, data) {
                position = new kakao.maps.LatLng(data.latitude, data.longitude)
                linePath.push(position);
                bounds.extend(position);
            });

            for (let i=0; i<(obj_list.length-1); i++) {
                path = compareLatLng(linePath.slice(i, i+2));

                var polyline = new kakao.maps.Polyline({
                    path: path,
                    strokeWeight: 5,
                    strokeColor: "#FA5252",
                    strokeOpacity: 1,
                    strokeStyle: "solid",
                    endArrow: true
                });
                polyline.setMap(map);
            };


            var markers = $(obj_list).map(function(i, data) {
                var marker = new kakao.maps.Marker({
                    position: new kakao.maps.LatLng(data.latitude, data.longitude),
                    clickable: true
                });

                var content = '<div class=info-window onclick=closeOverlay()">'
                                + '<div class="row align-items-center">'
                                    + '<div class="col-4">'
                                        + '<img class="info-image" src=' + data.imageUrl +'>'
                                        + '</div>'
                                    + '<div class="col-8">'
                                        + '<p class="info-text">'+ data.ccbaMnm1 +'</p>'
                                    + '</div>'
                                + '</div>'
                var infowindow = new kakao.maps.InfoWindow({
                    content: content,
                    remove: true
                });

                kakao.maps.event.addListener(marker, "mouseover", function() {
                    infowindow.open(map, marker);
                });
                kakao.maps.event.addListener(marker, "mouseout", function() {
                    infowindow.close();
                });

                kakao.maps.event.addListener(marker, "click", function() {
                    $("#card-image").attr("src", data.imageUrl);
                    $("#card-title").text(data.ccbaMnm1);
                    $("#card-content").html(data.ccbaPcd1Nm + " | " + data.ccbaCtcdNm + "<br>" + data.ccmaName + data.crltsnoNm + "호");
                    $("#card-comment").text(data.comment);
                });

                return marker;
            });
            clusterer.addMarkers(markers);
        map.setBounds(bounds);
    };

    $(document).ready(function() {
        loadMap();
    });

    </script>
{% endblock javascripts %}
