{% extends "layouts/base.html" %}

{% block title %} 탐방 경로 게시판 {% endblock %}

{% block stylesheets %}
    <style>
        th {
            text-align:center;
        }
        td {
            text-align: center;
            vertical-align: middle;
        }
        td:nth-child(1) {
            width : 15%;
        }
        td:nth-child(2) {
            width : 15%;
        }
        td:nth-child(3) {
            width : 40%;
        }
        td:nth-child(4){
            width : 30%;
        }
        .container {
            text-align: center;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <main>
    
        {% include 'includes/preloader.html' %}

        <!-- Header -->
        <section class="section section-header pb-7 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">탐방 경로 게시판</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg">
            <div class="container">

                <!-- 게시글 목록 -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>글 번호</th>
                            <th>작성자</th>
                            <th>시대</th>
                            <th>지역</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in data_list %}
                            <tr onclick="location.href='{% url 'routeView' data.0.id %}'">
                                <td>{{ data.0.id}}</td>
                                <td>{{ data.0.writer.username }}</td>
                                <td>{{ data.1 }}</td>
                                <td>{{ data.2 }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% include "includes/paginator.html" %}
                <button class="btn btn-primary" id="writeRouteButton" type="button" onclick="openRouteWrite()"><span class="fas fa-pen-alt me-2"></span>작성</button>

            </div>
        </section>
    </main>

{% endblock content %}

{% block javascripts %}
    <script>
        function openRouteWrite() {
            location.href = "{% url 'routeWrite' %}";
        };
    </script>
{% endblock javascripts %}
