{% extends "layouts/base.html" %}

{% block title %} 문화재 검색 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Header -->
        <section class="section section-header pb-11 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">문화재 검색</h1>
                        <p class="lead">시대별로 문화재를 검색할 수 있습니다.</p>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg">
            <div class="container mt-n10">
                <div class="row">
                    <div class="col-2">
                        <!-- ui-cards.html에서 가져옴-->
                        <div class="card shadow text-center">
                            <!-- Header -->
                            <div class="card-header bg-white p-3">
                                <h3 class="text-primary mt-auto mb-auto">시대</h3>
                            </div>
                            <!-- Content -->
                            <div class="card-body">
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" name="selectall" value="selectall" onclick="selectAll(this)"><b>전체</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age1" onclick="checkSelectAll(this)"><b>석기</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age2" onclick="checkSelectAll(this)"><b>청동기</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age3" onclick="checkSelectAll(this)"><b>철기</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age4" onclick="checkSelectAll(this)"><b>고구려</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age5" onclick="checkSelectAll(this)"><b>백제</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age6" onclick="checkSelectAll(this)"><b>신라</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age7" onclick="checkSelectAll(this)"><b>가야</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age8" onclick="checksSelectAll(this)"><b>통일신라</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age9" onclick="checksSelectAll(this)"><b>고려</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age10" onclick="checkSelectAll(this)"><b>조선</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age11" onclick="checkSelectAll(this)"><b>대한제국</b><br>
                                    <input class="form-check-input" type="checkbox" name="heritage" value="age12" onclick="checkSelectAll(this)"><b>일제강점기</b><br>
                                    <input type="button" name="'initCheckboxBtn" value="초기화" onclick='initCheckbox()'>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- 지도 -->
                    <!-- contact.html에서 가져옴 -->
                    <div class="col-10">
                        <iframe class="map rounded" id="gmap_canvas" src="https://maps.google.com/maps?q=san%20francisco&t=&z=8&ie=UTF8&iwloc=&output=embed"></iframe>
                    </div>

                </div>
            </div>
        </section>
        <div class="section py-0">

        </div>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script>
function initCheckbox()  {

  const checkboxes
       = document.getElementsByName('heritage');

  checkboxes.forEach((checkbox) => {
    checkbox.checked = false;
  })
}

function checkSelectAll(checkbox)  {
  const selectall
    = document.querySelector('input[name="selectall"]');

  if(checkbox.checked === false)  {
    selectall.checked = false;
  }
}

function selectAll(selectAll)  {
  const checkboxes
     = document.getElementsByName('heritage');

  checkboxes.forEach((checkbox) => {
    checkbox.checked = selectAll.checked
  })
}
</script>
{% endblock javascripts %}