{% extends "layouts/base.html" %}

{% block title %} 문의 작성 {% endblock %}

{% block stylesheets %}
    <style>
        .supportForm {
            border-style:none;
            border-color:Transparent;
            overflow:auto;
            width:100%;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Header -->
        <section class="section section-header pb-7 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">문의 작성</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg">
            {% if message %}
                {% if success %}
                    <script>
                        alert("{{ message }}");
                        location.href="{% url 'supportBulletin' %}";
                    </script>
                {% else %}
                    <script>
                        alert("{{ message }}");
                        location.href="{% url 'supportWrite' %}";
                    </script>
                {% endif %}
            {% else %}
                <div class="container">
                    <form method="post" action="{% url 'supportWrite' %}">
                        {% csrf_token %}
                        <div class="card shadow">
                            <div class="card-header bg-white">
                                <input class="supportForm" type="text" name="title"  placeholder="제목">
                            </div>
                            <div class="card-body">
                                <textarea class="supportForm" name="content"  rows="10" placeholder="내용"></textarea>
                            </div>
                        </div>
                        <br>
                        <div align="right">
                            <button class="btn btn-primary" onclick="cancelWrite()"><span class="fas fa-backspace me-2"></span>취소</button>
                            <button class="btn btn-primary" type="submit"><span class="fas fa-paper-plane me-2"></span>제출</button>
                        </div>
                    </form>
                </div>
            {% endif %}
        </section>

    </main>

{% endblock content %}

{% block javascripts %}
<script>
    function cancelWrite() {
        document.querySelector("form").addEventListener("submit", function(event) {
            event.preventDefault(); //POST에서는 어떤 상황에서도 POST가 수행이 된다. 그런데 취소 버튼 누를때 POST가 수행이 안 되어야 해서 이 함수를 호출함. 이게 없으면 취소 버튼 눌렀을때 bulletin으로 돌아가지 않고 "잘못된 입력입니다"가 뜬다.
        });
        location.href = "{% url 'supportBulletin' %}";
    };
</script>
{% endblock javascripts %}
