{% extends "layouts/base.html" %}

{% block title %} 문의 게시판 {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
    <style>
        th {
            text-align: center;
        }
        td {
            text-align: center;
            vertical-align: middle;
        }
        td:nth-child(1) {
            width : 15%;
        }
        td:nth-child(2) {
            width : 15%;
        }
        td:nth-child(3) {
            width : 40%;
        }
        td:nth-child(4){
            width : 15%;
        }
        td:nth-child(5)  {
            width : 15%;
        }
        .container {
            text-align: center;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <!-- Header -->
        <section class="section section-header pb-7 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">문의 게시판</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg">
            <div class="container"> <!--div 태그에 align을 지정하면 정렬기준 설정 가능한듯 함. style=""로 준 게 아님. -->

                <!-- 게시글 목록 -->
                <table class="table table-hover"> <!--visitorapp\templates\visitor_crud.html 7~18번째 코드 참고함-->
                    <thead>
                        <tr>
                            <th>글 번호</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>상태</th>
                            <th>등록일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in page_obj %}
                        <tr>
                            <td>{{ data.id }}</td>
                            <td>{{ data.writer }}</td>
                            <td><a href = "{% url 'supportView' data.id%}">{{ data.title }}</a></td> <!--forthapp\templates\r.html의 46번째 라인 참고-->
                            {% if data.answered == True %}
                                <td>처리 완료</td>
                            {% else %}
                                <td>처리 대기중</td>
                            {% endif %}
                            <td>{{ data.writeDT }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% include "includes/paginator.html" %}
<!--                <button class="btn btn-primary"  style = "float: right; margin-right: 20%" type="button" onclick=login_check(); return false;>작성</button>-->

                <button class="btn btn-primary" id="writeSupportButton" type="button" onclick="openSupportWrite()"><span class="fas fa-pen-alt me-2"></span>작성</button>


            </div>

<!--            {% if request.user.is_authenticated %}  &lt;!&ndash;장고 템플릿 언어에서는 함수 호출을 위해 괄호를 사용하지 않음&ndash;&gt;-->
<!--            <a style = "float : right;" href="{% url 'supportWrite' %}"><button class="btn btn-primary" type="button">작성</button></a>-->
<!--            {% endif %}--> <!--이 코드 대신 아래의 자바스크립트로 구현함-->

        </section>

    </main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script> <!--https://stackoverflow.com/questions/51804687/python-django-request-user-is-authenticated-in-template-tag-not-working 참고했음--> <!--구글에 "자바스크립트 if request.user.is_authenticated" 검색해서 2번째 사이트-->
    var user_is_authenticated = {{ request.user.is_authenticated|yesno:"true,false" }}; //필터링 //yesno는 https://docs.djangoproject.com/en/4.1/ref/templates/builtins/#:~:text=is%20a%0Aslug-,yesno,-%C2%B6 참고
    function login_check(){                 //request객체는 뷰함수에서 리턴값으로 넣어주는 것임. user는 request객체의 user고.
        if (user_is_authenticated === true) {   //로그인 했다면
            location.href="{% url 'supportWrite' %}";
        }
        else {  //로그인한 상태가 아니라면
            alert('로그인을 해야 글을 작성할 수 있습니다!');
            location.href="{% url 'login' %}";
        }


    }

    function openSupportWrite() {
        location.href = "{% url 'supportWrite' %}";
    };
</script>
{% endblock javascripts %}
