{% extends "layouts/base.html" %}

{% block title %} 문의 게시판 {% endblock %}

{% block stylesheets %}
    <style>
        th {
            text-align: center;
        }
        td {
            text-align: center;
            vertical-align: middle;
        }
        td:nth-child(1) {
            width : 15%;
        }
        td:nth-child(2) {
            width : 15%;
        }
        td:nth-child(3) {
            width : 40%;
        }
        td:nth-child(4){
            width : 15%;
        }
        td:nth-child(5)  {
            width : 15%;
        }
        .container {
            text-align: center;
        }
    </style>
{% endblock stylesheets %}

{% block content %}

    <main>

        {% include 'includes/preloader.html' %}

        <section class="section section-header pb-7 bg-primary text-white">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-xl-8 text-center">
                        <h1 class="display-2 mb-3">문의 게시판</h1>
                    </div>
                </div>
            </div>
        </section>

        <section class="section section-lg">
            <div class="container">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>글 번호</th>
                            <th>작성자</th>
                            <th>제목</th>
                            <th>상태</th>
                            <th>등록일시</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data in page_obj %}
                        <tr onclick="location.href='{% url 'supportView' data.id %}'">
                            <td>{{ data.id }}</td>
                            <td>{{ data.writer }}</td>
                            <td>{{ data.title }}</td>
                            {% if data.answered == True %}
                                <td>처리 완료</td>
                            {% else %}
                                <td>처리 대기중</td>
                            {% endif %}
                            <td>{{ data.writeDT }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                {% include "includes/paginator.html" %}

                <button class="btn btn-primary" id="writeSupportButton" type="button" onclick="openSupportWrite()"><span class="fas fa-pen-alt me-2"></span>작성</button>


            </div>
        </section>
    </main>

{% endblock content %}

{% block javascripts %}
<script>
    function openSupportWrite() {
        location.href = "{% url 'supportWrite' %}";
    };
</script>
{% endblock javascripts %}
